.shell {
  min-height: 100%;
  display: flex;
  justify-content: center;
  background: var(--color-bg-base);
}

.inner {
  width: 100%;
  max-width: var(--layout-max-width);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
